<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script>
        $(function() {
          $.ajax({
              url: "get_sido/",
              dataType: "json",
              success: function(msg) {
                  msgKeys = Object.keys(msg);

                  var $sido = $("#sido");
                  for (var i = 0; i < msgKeys.length; i++) {
                      $sido.append($("<option>").val(msgKeys[i]).text(msg[msgKeys[i]]))
                  }
              },
              error: function() {
              console.log("get_sido 실패");
              }
          });

          $("#sido").change(function() {
                var sido = $(this).val();

                if (sido == 17) {
                    getStore(17);
                } else {
                    $.ajax({
                        url: "get_gugun/",
                        data: {"sido_code": sido},
                        dataType: "json",
                        success: function(msg) {
                            msgKeys = Object.keys(msg);
                            $gugun = $("<select>").prop("id", "gugun").append($("<option>").val(0).text("구군선택"));
                            for (var i = 0; i < msgKeys.length; i++) {
                                $gugun.append($("<option>").val(msgKeys[i]).text(msg[msgKeys[i]]));
                            }
                            $("#wrapper").append($gugun);
                        },
                        error: function() {
                            console.log("get_gugun 실패");
                        }
                    });
                }
          });

          $("#wrapper").on("change", "#gugun", function() {
                var code = $(this).val();
                getStore(code);
          });
      });

      function getStore(code) {
        $.ajax({
            url: "get_store/",
            data: {"code": code},
            dataType: "json",
            success: function(msg) {
                stores = msg.list;
                var $table = $("#result");
                for (var i = 0; i < 1; i++) {
                    var head_text = Object.keys(stores[i]);
                    var $tr = $("<tr>");
                    for (var j = 0; j < head_text.length; j++) {
                        $tr.append($("<th>").text(head_text[j]));
                    }
                    $table.append($tr);
                }
                for (var i = 0; i < stores.length; i++) {
                    var $tr = $("<tr>");
                    var store_keys = Object.keys(stores[i]);
                    for (var j = 0; j < store_keys.length; j++) {
                        $tr.append($("<td>").text(stores[i][store_keys[j]]));
                    }
                    $table.append($tr);
                }
            },
            error: function() {
                console.log("get_store 실패");
            }
        });
      }
    </script>
</head>
<body>
    <h1>Starbucks</h1>

    <div id="wrapper">
      <select id="sido">
        <option value="0">시도선택</option>
      </select>
    </div>
    <table id="result"></table>
</body>
</html>